---
---
// Color Variables, Breakpoints, utils and components
@import "components/variables";
@import "components/columns";
@import "components/split";
@import "components/content-card";
@import "components/section";
@import "components/slider";
@import "components/button";
@import "components/presentation";
@import "components/course";
@import "components/videos";
@import "components/services";
@import "components/testimony";
@import "components/slick-slider";
@import "components/navbar";
@import "components/footer";

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

.image-responsive {
  width: 100%;
  height: auto;
}

.color { @include colors("color") }

.center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
