---
---
// Color Variables, Breakpoints, utils and components
@import "components/variables";
// @import "components/columns";
@import "components/navbar";
@import "components/footer";

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

.responsive-image {
  width: 100%;
  height: auto;
}

.color { @include colors("color") }

.center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}
