@import "variables";

.course {
  background-color: $pink;
  color: white;
  overflow: hidden;

  &__text {
    @include breakpoint("medium") {
      width: 69%;
      display: inline-block;
      vertical-align: top;
    }
    padding-bottom: 20px
  }

  &__image {
    display: none;
    @include breakpoint("medium") {
      width: 30%;
      height: auto;
      display: inline;
      margin-bottom: -4px;
      vertical-align: bottom;
    }
  }

  &__content {
    padding: 20px;
    @include breakpoint("limiter");
    padding-bottom: 0
  }
}
