@import "variables";

.footer {
  background-color: $light-grey;
  text-align: center;
  padding-bottom: 10px;

  &__logo-div {
    text-align: center;
    @include breakpoint("medium") {
      text-align: left;
    }
  }

  &__logo { max-width: 200px }

  &__map {
    float: right;
    width: 100%;
    height: auto;
  }

  &__links {
    text-align: left;
    list-style: none;
    padding: 0;

    a { color: black }
  }

  &__content {
    padding: 20px;
    @include breakpoint("limiter");
  }
}
