@import "variables";

.navbar {
  width: 100%;
  background-color: $white;

  a {
    font-weight: 600;
    color: black;
  }

  &__toggle { float: right }

  &__padding {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__mobile {
    width: 100%;

    @include breakpoint("medium") { display: none }
  }

  &__content {
    text-align: center;
    display: none;

    img { display: none }

    @include breakpoint("medium") {
      width: 100%;
      text-align: initial;
      img { display: initial }
    }

    @include breakpoint("medium") { display: block }

    @include breakpoint("limiter");
  }

  &__links {
    list-style: none;
    margin: 0;
    margin-top: 10px;
    padding: 0;

    li { margin: 15px 0 }

    @include breakpoint("medium") {
      float: right;
      width: fit-content;

      li { display: inline; margin: 0 15px }
    }
  }
}
