// Colors
$light-blue: #00AFEF;
$blue: #0078A3;
$black: #1A1A1A;
$white: white;
$pink: #F01849;
$red: #FF0000;
$light-grey: #DEDEDE;
$grey: #707070;
$yellow: #F0E200;

// Breakpoints
@mixin breakpoint($value) {
  @if $value == extra-small {
    @media (max-width: 400px) { @content; }
  }

  @else if $value == small-height {
    @media (max-height: 500px) { @content; }
  }

  @else if $value == small-only {
    @media (max-width: 424px) { @content; }
  }

  @else if $value == small-up {
    @media (min-width: 425px) { @content; }
  }

  @else if $value == touch {
    @media (max-width: 899px) { @content; }
  }

  @else if $value == medium {
    @media (min-width: 768px) { @content; }
  }

  @else if $value == medium-up {
    @media (min-width: 900px) { @content; }
  }

  @else if $value == large {
    @media (min-width: 1200px) { @content; }
  }

  @else if $value == extra-large {
    @media (min-width: 1800px) { @content; }
  }

  @else if $value == limiter {
    max-width: 1400px;
    margin: 0 auto;
  }
}

// Managing theme colors with a mixin
@mixin colors($attribute) {
  @if $attribute == color {
    &--light-blue { color: $light-blue; }
    &--blue { color: $blue; }
    &--black { color: $black; }
    &--white { color: $white; }
    &--pink { color: $pink; }
    &--red { color: $red; }
    &--light-grey { color: $light-grey; }
    &--grey { color: $grey; }
    &--yellow { color: $yellow; }
  }

  @else if $attribute == background-color {
    &--light-blue { background-color: $light-blue; }
    &--blue { background-color: $blue; }
    &--black { background-color: $black; }
    &--white { background-color: $white; }
    &--pink { background-color: $pink; }
    &--red { background-color: $red; }
    &--light-grey { background-color: $light-grey; }
    &--grey { background-color: $grey; }
    &--yellow { background-color: $yellow; }
  }

  @else if $attribute == border-color {
    &--light-blue { border-color: $light-blue; }
    &--blue { border-color: $blue; }
    &--black { border-color: $black; }
    &--white { border-color: $white; }
    &--pink { border-color: $pink; }
    &--red { border-color: $red; }
    &--light-grey { border-color: $light-grey; }
    &--grey { border-color: $grey; }
    &--yellow { border-color: $yellow; }
  }
}

// Fonts
@font-face {
  font-family: "nexabold";
  src: url("../fonts/Nexa-Bold.otf") format("opentype");
}

@font-face {
  font-family: "gothamlight";
  src: url("../fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "gothamlightitalic";
  src: url("../fonts/Gotham-Lightitalic.otf") format("opentype");
}

@font-face {
  font-family: "gothammedium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlight";
  src: url("../fonts/Gotham-XLight.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlightitalic";
  src: url("../fonts/Gotham-XLightita.otf") format("opentype");
}
