@import "variables";

.videos {
  background-color: $light-blue;
  color: white;
  text-align: center;
  min-height: fit-content;
  height: 55vh;

  &__text {
    @include breakpoint("medium") {
      max-width: 50%;
      margin: 50px auto;
      margin-bottom: 70px;
    }
  }

  &__content {
    height: 100%;
    padding: 20px;

    @include breakpoint("limiter");
  }
}
