---
layout: default
---

<div class="section section--gradient">
  <div class="section__content text-center">

    <h1>{{ page.title }}</h1>
    <p>{{ page.content }}</p>

    <br>

    <div class="slider">
      <div class="slider__content">
        <div class="slider__card">
          <img src="{{ page.picture1 }}" class="image-responsive" alt="event-picture">
        </div>
        <div class="slider__card">
          <img src="{{ page.picture1 }}" class="image-responsive" alt="event-picture">
        </div>
        <div class="slider__card">
          <img src="{{ page.picture1 }}" class="image-responsive" alt="event-picture">
        </div>
      </div>
    </div>

  </div>
</div>
